// Bootstrap brand color customization


/*     brand Colors              */

$brand-primary:              #ca945c !default;
$brand-info:                 #463e43 !default;
$brand-success:              #72a754 !default;
$brand-warning:              #ef971c !default;
$brand-danger:               #f44336 !default;
$brand-rose:                 #999999 !default;
$brand-inverse:              $black-color !default;
$brand-light:                #f4f3e7 !default;

// $primary:       #ca945c !default;
// $secondary:     #999999 !default;
// $success:       #72a754 !default;
// $info:          #463e43 !default;
// $warning:       #ef971c !default;
// $danger:        #f44336 !default;
